<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.RecipeMapper">
	<select id="recipeListData" resultType="RecipeVO" parameterType="hashmap">
		SELECT no, title, poster, chef, num
		FROM (SELECT no, title, poster, chef, rownum as num
		FROM (SELECT no, title, poster, chef
		FROM recipe
		WHERE no IN (SELECT no FROM recipe INTERSECT (SELECT no FROM recipedetail))
		ORDER BY no ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="recipeRowCount" resultType="int">
		SELECT COUNT(*) FROM recipe
	</select>
	<select id="recipeFindListData" resultType="RecipeVO" parameterType="hashmap">
		SELECT no, title, poster, chef, num
		FROM (SELECT no, title, poster, chef, rownum as num
		FROM (SELECT no, title, poster, chef
		FROM recipe
		WHERE no IN (SELECT no FROM recipe INTERSECT (SELECT no FROM recipedetail)) AND title LIKE '%'||#{fd}||'%'
		ORDER BY no ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="recipeFindRowCount" resultType="int" parameterType="hashmap">
		SELECT COUNT(*) FROM recipe WHERE no IN (SELECT no FROM recipe INTERSECT (SELECT no FROM recipedetail)) AND title LIKE '%'||#{fd}||'%'
	</select>
	<select id="recipeDetailData" parameterType="int" resultType="RecipeDetailVO">
	SELECT * FROM recipedetail WHERE no=#{no}
	</select>
	<update id="recipeHitIncrement" parameterType="int">
	UPDATE recipe SET hit=hit+1 WHERE no=#{no}
	</update>
	<select id="chefListData" parameterType="hashmap" resultType="ChefVO">
	SELECT chef, poster, mem_cont1, mem_cont3, mem_cont7, mem_cont2, num
	FROM (SELECT chef, poster, mem_cont1, mem_cont3, mem_cont7, mem_cont2, rownum as num 
	FROM (SELECT chef, poster, mem_cont1, mem_cont3, mem_cont7, mem_cont2 
	FROM chef))
	WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="chefRowCount" resultType="int">
	SELECT COUNT(*) FROM chef
	</select>
		<select id="chefRecipeListData" resultType="RecipeVO" parameterType="hashmap">
		SELECT no, title, poster, chef, num
		FROM (SELECT no, title, poster, chef, rownum as num
		FROM (SELECT no, title, poster, chef
		FROM recipe
		WHERE no IN (SELECT no FROM recipe INTERSECT (SELECT no FROM recipedetail)) AND chef=#{chef}
		ORDER BY no ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="chefRecipeRowCount" resultType="int" parameterType="hashmap">
	SELECT COUNT(*) FROM recipe WHERE no IN (SELECT no FROM recipe INTERSECT (SELECT no FROM recipedetail)) AND chef=#{chef}
	</select>
</mapper>